.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 50px;
    position: absolute;
    width: 100%;
    top: 0;
}
.navTitle{
    height: 30px;
    padding: 10px;
    margin-left: 0;
    padding-left: 10px;
}
