:root {
  --body-background: white;
  --body-color: black;

}
[data-theme="dark"]{
  --body-background: #242424;
  --body-color: white;
}
*{
  transition: all 0.4s ease;
}
@keyframes fadeInUp {
  0% {
    /* transform: translateX(100%); */
    opacity: 0;
  }
  50% {
    /* transform: translateX(50%); */
    opacity: 0,5;
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 1;
  }
}